body{
  background-color: #232020;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
}

h1{
  text-align: center;
  text-decoration: none;
  color: #232020;
}

.header{
  background-color: #C7E8F3;
  color: #232020;
  padding: 2px;
  width: 100%
  margin-left: 3em;
}

.button{
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
}

a img{
  border: none;
  vertical-align:middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

a:link{
  text-decoration: none;
  color: #232020;
}

a:visited{
  text-decoration: none;
  color: #232020;
}

a:hover{
  text-decoration: none;
  color: #232020;
}

a:active{
  text-decoration: none;
  color: #232020;
}
