.panel {
  height: 100%;
  width: 100%;
  margin-bottom: 400px;
  color: #ecf0f1;
}

.blue {
  background-color: #3498db;
}

.turquoise {
  background-color: #1abc9c;
}

.green {
  background-color: #2ecc71;
}
