@import "reset";

$font-stack: menlo, sans-serif;
$primary-color: #233B6E;
$font-color: #EFF0F4;
$accent-color: #ED5485;

.container {
  color: $font-color;
  margin: 0 50px;

}

.accent {
  color: $accent-color;
}

body {
  font-family: $font-stack;
  height: 100%;
  width: 100%;
  background-color: $primary-color;
  font-size: 14px;
  padding-top: 50px;
}

p {
  color: $font-color;
  margin-bottom: 20px;
}

strong {
  margin-top: 200px;
  margin-bottom: 20px;
  padding-top: 100px;
}

em {
  color: $accent-color;
}

a,
a:hover,
a:visited,
a:active {
  color: $accent-color;
  text-decoration: none;
}


@keyframes fade {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.75;
  }
}

@media (min-width: 600px) {
  .container {
    margin: 0 150px;
    width: 400px;
  }
}
