body,
html {
  min-height: 100%;
}

body {
  background-image:url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  width:100%;
  max-width:600px;
  font:6em "Open Sans";
  color: #f0f0f0;
  text-shadow:1px 1px 0 rgba(0,0,0,.2);
  margin:40px auto;
}
